<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 3rem; justify-content: center;">
        {% csrf_token %}
        <div>
            <label for="question_text" style="display: block;">Name:</label>
            <input type="text" id="question_text" name="question_text" name="question_text" style="display: block;">
        </div>
        <div>
            <label for="user_image" style="display: block;">User Image:</label>
            <input type="file" id="user_image" name="user_image" style="display: block;">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>